
#Ignore all python compiled files
*.pyc

# Ignore all logging files, with one exception: .conf file
*.log
/logging
!/logging/logging.conf

# Ignore MP3 files and QBO settings
/scripts/python/RoboGen_Projects/EmotionAudio/mp3/tmp.mp3
/scripts/python/RoboGen_Projects/MyQBOSettings/settings.json
